# Git相关
.git
.gitignore

# IDE配置文件
.idea
.vscode

# 编译生成的文件
bin/
tmp/

# Go语言相关
vendor/
*.test
*.out

# 日志文件
logs/

# 其他不需要的文件
README.md
doc/
.dockerignore
docker-compose.yml

# 测试文件
**/*_test.go
**/test/